.item {
  margin: 15px;
  display: inline-block;
}

.img-container {
  position: relative;
  width: 320px;
  height: 240px;
  background-color: #777777;
}

.img-container i {
  position: absolute;
  top: 100px;
  left: 145px;
  font-size: 30px;
}

.img-container img {
  overflow: hidden;
  
  width: 100%;
  max-width: 320px;
  max-height: 240px;
  opacity: 0;

  transition: 0.7s;
  -o-transition: 0.7s;
  -ms-transition: 0.7s;
  -moz-transition: 0.7s;
  -webkit-transition: 0.7s;
}